name: Build docker image

on:
  workflow_call:
    inputs:
      docker-tag:
        type: string
        description: "Extra docker tag"
      version:
        type: string
        description: "Version tag"
        required: true
      sha:
        type: string
        default: "Commit sha"
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    name: Push docker image
    timeout-minutes: 5
    env:
      CONTAINER_NAME: voice-to-speech-app
      CONTAINER_REGISTRY: ghcr.io
    steps:
      - name: App version
        run: echo "Picked the app version ${{ inputs.sha }}"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"

      - name: Download AI model
        run: pip install gdown && gdown ${{ secrets.WHISPER_MODEL_URL }} -O ./model-cache

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Publish to Registry
        if: inputs.docker-tag == ''
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        env:
          CONTAINER_PATH: ${{ env.CONTAINER_REGISTRY }}/${{ github.repository }}/${{ env.CONTAINER_NAME }}
        with:
          context: .
          push: true
          tags: |
            ${{ env.CONTAINER_PATH }}:${{ inputs.sha }}
          build-args: APP_VERSION=${{ inputs.version }}

      - name: Publish to Registry and extra tag
        if: inputs.docker-tag != ''
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        env:
          CONTAINER_PATH: ${{ env.CONTAINER_REGISTRY }}/${{ github.repository }}/${{ env.CONTAINER_NAME }}
        with:
          context: .
          push: true
          tags: |
            ${{ env.CONTAINER_PATH }}:${{ inputs.docker-tag }}
            ${{ env.CONTAINER_PATH }}:${{ inputs.sha }}
          build-args: APP_VERSION=${{ inputs.version }}

      - name: Add image reference
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          COMMIT_SHA: ${{ inputs.sha }}
        with:
          script: |
            const { COMMIT_SHA: sha, CONTAINER_NAME: container } = process.env
            const { owner, repo } = context.issue;
            const target_url = `https://github.com/${owner}/${repo}/pkgs/container/${encodeURIComponent(`${repo}/${container}`)}`
            const description = `${container}:${sha}`;
            const api = `/repos/${owner}/${repo}/statuses/${sha}`;

            await github.request(`POST ${api}`, {
              owner,
              repo,
              sha,
              target_url,
              state: 'success',
              description,
              context: 'Docker image'
            });
