name: Pre-release

on:
  workflow_call:
    outputs:
      version:
        description: "Export version tag (no v prefix, only 1.0.0)"
        value: ${{ jobs.tag-release.outputs.version }}

jobs:
  tag-release:
    runs-on: ubuntu-latest
    name: Tag release changes
    timeout-minutes: 3
    outputs:
      version: ${{ steps.reader.outputs.version }}
    steps:
      - name: App version
        run: echo "Picked the app version ${GITHUB_SHA}"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install NodeJS and NPM modules
        uses: ./.github/actions/npm

      - name: Run semantic release
        run: npx semantic-release@21.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Read version into output
        id: reader
        run: echo "version=$(cat .VERSION)" >> $GITHUB_OUTPUT

  sentry:
    runs-on: ubuntu-latest
    name: Send release into sentry
    needs: [tag-release]
    timeout-minutes: 1
    steps:
      - name: App version
        run: echo "Picked the app version ${GITHUB_SHA}"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Create Sentry release
        uses: getsentry/action-release@128c5058bbbe93c8e02147fe0a9c713f166259a6 # v3.4.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
        with:
          environment: production
          release: v${{ needs.tag-release.outputs.version }}

  newrelic:
    runs-on: ubuntu-latest
    name: Send release into newrelic
    needs: [tag-release]
    timeout-minutes: 1
    steps:
      - name: New Relic release marker
        uses: newrelic/deployment-marker-action@d88a59ea8f713ad6935e60de27273157790b1e3b # v2.6.2
        with:
          apiKey: ${{ secrets.NEWRELIC_API_KEY }}
          region: "EU"
          guid: ${{ secrets.NEWRELIC_APP_GUID }}
          version: v${{ needs.tag-release.outputs.version }}
          user: "${{ github.actor }}"
