name: Scan

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run tests
    timeout-minutes: 5
    steps:
      - name: App version
        run: echo "Picked the app version ${GITHUB_SHA}"

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install NodeJS and NPM modules
        uses: ./.github/actions/npm

      - name: Run tests
        run: pnpm test

      - name: Store test coverage results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: coverage
          path: coverage

  validate:
    runs-on: ubuntu-latest
    name: Run ${{ matrix.arrays.label }}
    timeout-minutes: 3
    strategy:
      matrix:
        arrays:
          [
            { command: "typecheck", label: "typecheck" },
            { command: "lint:all", label: "lint" },
            { command: "oxlint:all", label: "oxlint" },
            { command: "format:check", label: "code formatting check" },
          ]
    env:
      COMMAND: ${{ matrix.arrays.command }}
    steps:
      - name: App version
        run: echo "Picked the app version ${GITHUB_SHA}"

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install NodeJS and NPM modules
        uses: ./.github/actions/npm

      - name: Run validation
        run: pnpm ${{ env.COMMAND }}

  sonar-cloud:
    runs-on: ubuntu-latest
    name: Run SonarCloud
    needs: [test, validate]
    timeout-minutes: 5
    steps:
      - name: App version
        run: echo "Picked the app version ${GITHUB_SHA}"

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Download test coverage results
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: coverage
          path: coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
